<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.scheduler.dao.interfaces.ISubjectDAO">

    <select id="getRecordById" resultMap="SubjectResultMap">
        SELECT
        *
        FROM subject WHERE id = #{id}
    </select>

    <resultMap id="SubjectResultMap" type="com.solvd.scheduler.model.Subject" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
</mapper>